<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="True">
  <title>Community Central!</title>
  <link rel="stylesheet" type="text/css" media="screen" href="css/masthead1.css" />  
  <!--<link rel="stylesheet" type="text/css" media="screen" href="css/concise.min.css" />-->
</head>
<body>

<header container class="siteHeader">
  <div row>
    <h1 column=7 class="logo">Community Central. Where Communities Thrive!</h1>
        <nav column="6" class="nav">
<ul>
  <li class="dropdown">
    <a href="#" class="dropbtn">Services</a>
    <div class="dropdown-content">
      <a href="community.php?serviceCode=cpool">Car Pool</a>
      <a href="community.php?serviceCode=rides">Rides</a>
      <a href="community.php?serviceCode=ccare">Child Care</a>
      <a href="community.php?serviceCode=baasc">Before/After School Care</a>
      <a href="community.php?serviceCode=ecare">Senior Care</a>
      <a href="community.php?serviceCode=dcare">Doggie Care</a>
      <a href="community.php?serviceCode=clean">House Cleaning</a>
      <a href="community.php?serviceCode=shopu">Shop for You</a>
      <a href="community.php?serviceCode=mealp">Meal Prep</a>
      <a href="community.php?serviceCode=aclas">Art Classes</a>
      <a href="community.php?serviceCode=mclas">Music Lessons</a>
      <a href="community.php?serviceCode=swimm">Swim Lessons</a>      
      <a href="community.php?serviceCode=handy">Need a Hand?</a>      
    </div>
  </li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Clubs</a>
    <div class="dropdown-content">
      <a href="community.php?clubCode=runng">Running</a>
      <a href="community.php?clubCode=uwalk">Walking</a>
      <a href="community.php?clubCode=ubike">Biking</a>
      <a href="community.php?clubCode=uswim">Swimming</a>
      <a href="community.php?clubCode=tnnis">Tennis</a>
      <a href="community.php?clubCode=volly">Volleyball</a>
      <a href="community.php?clubCode=yogaa">Yoga</a>
      <a href="community.php?clubCode=taich">Tai Chi</a>
      <a href="community.php?clubCode=invst">Investing</a>
      <a href="community.php?clubCode=bookw">Book Worm</a>      
    </div>
  </li>  
  <li><a href="marketplace.php">Market Place</a></li>
  <li><a href="posting.php">Posts</a></li>
  <li><a class="active" href="index.php">Home</a></li>
</ul>
    </nav>
  </div>    
</header>

  <main container class="siteContent">
  <!-- BEGIN CHANGEABLE CONTENT. -->
