<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="True">
  <title>Community Central!</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../css/concise.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../css/masthead.css" />
</head>
<body>

<header container class="siteHeader">
  <div row>
    <h1 column=4 class="logo">Community Central. Where Communities Share and Thrive!</h1>
    <nav column="8" class="nav">
      <ul>
        <li><a href="../index.php">Communities</a></li>
        <li><a href="about.html">About Community Central</a></li>
        <li><a href="login.php">Login</a></li>
        <li><a href="register.php">Register</a></li>
     </ul>
    </nav>
  </div>
</header>

  <main container class="siteContent">
  <!-- BEGIN CHANGEABLE CONTENT. -->
    <h2>Welcome to Community Central</h2>
      <p>Blah Blah Blah.</p>
  <!-- END CHANGEABLE CONTENT. -->
  </main>

  <footer container class="siteFooter">
    <p>Design uses <a href="http://concisecss.com/">Concise CSS Framework</a></p>
  </footer>
    
</body>
</html>

